@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityServerHost.Pages.ChangePassword.Index

<div class="mb-6">
    <h1 class="text-2xl font-bold text-gray-900">Change Password</h1>
</div>

<partial name="_ValidationSummary"/>

<div class="max-w-lg">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Change Password</h2>
        </div>

        <div class="card-body">
            <form asp-page="/Account/ChangePassword/Index">
                <input type="hidden" asp-for="Input.ReturnUrl"/>
                <input type="hidden" asp-for="Input.ClientId"/>

                <div class="form-group">
                    <label class="form-label" asp-for="Input.Username"></label>
                    <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus readonly="true">
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Input.CurrentPassword"></label>
                    <input class="form-control" type="password" placeholder="Current Password" asp-for="Input.CurrentPassword" autocomplete="off">
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Input.NewPassword"></label>
                    <input class="form-control" type="password" placeholder="New Password" asp-for="Input.NewPassword" autocomplete="off">
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                    <input class="form-control" type="password" placeholder="Confirm Password" asp-for="Input.ConfirmPassword" autocomplete="off">
                </div>

                <div class="flex gap-2 mt-4">
                    <button class="btn btn-primary" name="Input.Button" value="login">Change Password</button>
                    <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>