@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityServerHost.Pages.EmailConfirmation.Confirm

<div class="login-page">

<partial name="_ValidationSummary"/>

<div class="row">
<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h2>Confirm Email Address</h2>
        </div>

        <div class="card-body">
            <p id="userMessage">@Model.View.UserMessage</p>
        </div>
    </div>
</div>